@import "@wordpress/base-styles/colors";

.wpl-dropdownmenu {
	background-color: transparent;
	padding: 0;
	border: 1px solid transparent;
	cursor: pointer;

	svg {
		margin-top: 3px;
	}
}

.wpl-dropdownmenu__menu {
	margin: 0;
	padding: 0;
	margin-top: 5px;

	li > div,
	li > a {
		display: block;
		width: 100%;
		padding: 5px 10px;
		text-decoration: none;
		color: $black;

		&:hover {
			background-color: $gray-400;
		}
	}

	button {
		border: none;
		width: 100%;
		text-align: left;
		padding: 10px 10px;
		white-space: nowrap;
		box-sizing: border-box;
		cursor: pointer;
		background-color: transparent;

		&:hover {
			background-color: $gray-200;
		}
	}
}
