@import "../../global.scss";
@import "@wordpress/base-styles/colors";

.wpl-dropdownbutton .wpl-popover__content {
	h4 {
		margin-top: 5px;
	}

	h5 {
		margin-top: 0;
		margin-bottom: 5px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.wpl-popover {
	box-shadow: 0 3px 30px rgba($gray-900, 0.1);
	border: 1px solid $gray-400;
	max-height: 400px;
	overflow: scroll;
	z-index: 10000;

	li .button {
		color: #333;
	}
}

.wpl-dropdownbutton {
	.button {
		border-color: #7e8993;
		display: flex;
		align-items: center;
		min-height: 30px;
		flex-wrap: nowrap;
	}

	ul,
	li {
		white-space: nowrap;
		margin: 0;
		padding: 0;
		max-width: 300px;
		background-color: white;
	}

	li {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ddd;
		font-weight: 500;

		.button {
			border: none;
			display: block;
			width: 100%;
			border-radius: 0;
			padding: 10px 15px;
			text-align: left;
			white-space: normal;
			background-color: white;

			span {
				font-weight: normal;
				line-height: 1.6;
				display: block;
				margin-bottom: 5px;
				color: #666;
			}

			&:hover {
				background-color: #2684ff;
				color: $white;

				span {
					color: $white;
				}
			}
		}

		&:last-of-type {
			border-bottom: none;
		}

		button.wpl-dropdownbutton {
			color: #444;
			border: none;
			background-color: inherit;
			padding: 0;
		}
	}

	svg {
		margin-left: 5px;
		margin-right: -4px;
		display: inline-block;
		fill: #888;
		border-left: 1px solid #ddd;
		padding-left: 5px;
	}

	h5 {
		padding: 0;
		margin: 0;
		margin-right: 5px;
		font-size: 13px;
		font-weight: normal;
	}
}

.wpl-dropdownbutton__single h5 {
	text-align: center;
	margin-right: 0;
}

.wpl-dropdownbutton[data-headlessui-state="open"] {
	svg {
		transform: rotate(180deg);
		border-right: 1px solid #ddd;
		border-left: 1px solid transparent;
		padding-right: 4px;
		padding-left: 0;
	}
}
