@use "../../global" as *;

.wpl-dropdowntext {
	display: flex;
	position: relative;

	input {
		width: 100%;
	}

	.wpl-dropdowntext__loading {
		position: absolute;
		right: 7px;
		top: 2px;

		svg {
			width: 28px;
			height: 28px;
			opacity: 0.7;
		}
	}
}

.wpl-dropdowntext__max {
	display: none;
}

.wpl-dropdowntext__suggestion {
	input {
		width: 100%;
	}

	.wpl-badge {
		background-color: $green;
		color: $white;
		margin-left: 5px;
		margin-right: 5px;

		.wpl-badge__content {
			font-weight: bold;
		}
	}
}

.wpl-dropdowntext__suggestion__hide {
	input {
		display: none;
	}
}

.wpl-dropdowntext__suggestions .wpl-popover__content {
	padding: 5px;
	line-height: 1.8;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul li {
		margin: 0;
	}

	button {
		border: none;
		background-color: transparent;
		padding: 0;
		text-align: left;
		width: 100%;
		cursor: pointer;
		font-size: 13px;
		line-height: 1.6;
		color: #666;
		font-weight: normal;

		&:hover {
			background-color: #deebff;
		}
	}

	a {
		display: block;
		padding: 2px 3px;
		text-decoration: none;
		color: #333;
	}

	a:hover {
		background-color: #deebff;
	}
}
